<!DOCTYPE html>
<html lang="en">
<head>
    <title>DA/About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
        
            <div class="menu">
                <ul>
                    <li><a href="{{ url_for('index') }}">HOME</a></li>
                    <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                </ul>
            </div>
            <div class="content">
                <h1><br>Coastal Destruction Analysis <br>Using Machine Learning<br><br></h1>
                <p class="par">
                    The allure of coastal living has drawn people to settle where land meets sea for centuries, 
                    offering rich resources and opportunities. Today, this trend continues, with nearly 75% of the 
                    global population residing within 50 kilometers of the ocean. However, this proximity to the coast 
                    exposes communities, especially those in developing countries and small island states, to heightened 
                    climate risks that compound existing vulnerabilities.<br><br>
                    The International Monetary Fund (IMF) estimates that adaptation costs for these nations, particularly 
                    susceptible to tropical cyclones and rising seas, could soar to as much as 20% of their gross domestic 
                    product (GDP). Tropical cyclones, with their immense destructive potential, have caused the most damage 
                    among all-weather disasters between 1980 and 2021, totaling over $1.1 trillion, with an average cost of 
                    $20.5 billion per event. In the past decade alone, economic losses from tropical cyclones exceeded 
                    573.2 billion U.S. dollars globally, with the highest number of deaths recorded.<br><br>
                    Against this backdrop, our project takes center stage, aiming to address the pressing need for innovative 
                    solutions in coastal resilience and climate change adaptation. Leveraging high-resolution satellite imagery 
                    and machine learning, we seek to develop a model capable of automatically analyzing such imagery to detect 
                    and classify damaged and undamaged infrastructure following natural disasters. This endeavor underscores 
                    our commitment to mitigating the impact of natural disasters on coastal communities and building resilience 
                    for a sustainable future.

                
                </p>
            </div>
        
</body>
</html>